<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "${post.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/newpost.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>

<body>

<!-- navigation bar -->
<div th:insert="~{navigationBar :: navBar}"></div>

<div class="container-fluid main profile">
    <div class="row">

        <!--Left side-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--main post-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="post-title"><span th:text="${post.title}"></span></h4>
                <span class="text-desc">
                Author：<span th:text="${post.userObject.username}"></span> |
                created at：<span th:text="${#dates.format(post.gmt_create,'yyyy-MM-dd HH:mm')}"></span> |
                views： <span th:text="${post.num_view}"></span>
            </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--body-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="body-view">
                    <label>
                        <textarea style="display:none;" th:text="${post.body}"></textarea>
                    </label>
                </div>

                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("body-view", {});
                    });
                </script>

                <!--edit-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/editpost/'+${post.getId()}}" class="community-menu"
                       th:if="${session.user != null && session.user.getUserID() == post.getUserID()}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">edit</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>



            <!--reply bar-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Reply
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${session.user != null ? session.user.getAvatarUrl() : '/images/defav.jpg'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user != null ? session.user.getUsername() : 'unknown user'}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="post_id" th:value="${post.getId()}">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

        </div>

        <!--right bar-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Author</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${post.userObject.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${post.getUsername()}"></span>
                        </h5>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

</body>
</html>